name: Generate livestreams
on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:
jobs:
  workflow_dispatch:
    runs-on: ubuntu-latest
    steps:
     - name: Install yt-dlp
       run: |
        sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
        sudo chmod a+rx /usr/local/bin/yt-dlp
     - name: RTVE 24h
       run: |
        mkdir "ES"
        cd ES
        touch ./24h.m3u8
        sudo cat >./24h.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/rtvenoticias/live)
        EOL
     - name: 7NN
       run: |
        cd ES
        touch ./7nn.m3u8
        sudo cat >./7nn.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://twitch.tv/7nntv)
        EOL
     - name: Libertad Digital
       run: |
        cd ES
        touch ./libertaddigital.m3u8
        sudo cat >./libertaddigital.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://dai.ly/xnm032)
        EOL
     - name: Dejate de Historias - Madrid
       run: |
        cd ES
        mkdir "Madrid"
        cd Madrid
        touch ./DH.m3u8
        sudo cat >./DH.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/channel/UChMCkc02GVSi89TrvhbRasA/live)
        EOL
     - name: A24
       run: |
        mkdir "AR"
        cd AR
        touch ./A24.m3u8
        sudo cat >./A24.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/A24com/live)
        EOL
     - name: America
       run: |
        cd AR
        touch ./America.m3u8
        sudo cat >./America.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/americaenvivo/live)
        EOL
     - name: TVP Argentina
       run: |
        cd AR
        touch ./TVP.m3u8
        sudo cat >./TVP.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/TVPublicaArgentina/live)
        EOL
     - name: LN+
       run: |
        cd AR
        touch ./LNMas.m3u8
        sudo cat >./LNMas.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/LaNacionMas/live)
        EOL
     - name: C5N
       run: |
        cd AR
        touch ./C5N.m3u8
        sudo cat >./C5N.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/c5n/live)
        EOL
     - name: CNN
       run: |
        mkdir "US"
        cd US
        touch ./CNN.m3u8
        sudo cat >./CNN.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/american/cnn-live.html)
        EOL
     - name: Weather Channel
       run: |
        cd US
        touch ./WeatherChannel.m3u8
        sudo cat >./WeatherChannel.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/featured/weather-channel.html)
        EOL
     - name: FBN
       run: |
        cd US
        touch ./FBN.m3u8
        sudo cat >./FBN.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/business/fox-business-network-fbn.html)
        EOL
     - name: CNBC
       run: |
        cd US
        touch ./CNBC.m3u8
        sudo cat >./CNBC.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/american/cnbc.html)
        EOL
     - name: NTV24
       run: |
        mkdir "JP"
        cd JP
        touch ./NTVNews24.m3u8
        sudo cat >./NTVNews24.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/channel/UCuTAXTexrhetbOe3zgskJBQ/live)
        EOL
     - name: TBS News Dig
       run: |
        cd JP
        touch ./TBSNewsDig.m3u8
        sudo cat >./TBSNewsDig.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/tbsnews/live)
        EOL
     - name: NHK World News
       run: |
        cd JP
        touch ./NHKWorldNews.m3u8
        sudo cat >./NHKWorldNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/NHKWORLDJAPAN/live)
        EOL
     - name: CBC News
       run: |
        mkdir "CA"
        cd CA
        touch ./CBCNews.m3u8
        sudo cat >./CBCNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/canadian-news/cbc-news.html)
        EOL
     - name: Taiwan+
       run: |
        mkdir "TW"
        cd TW
        touch ./TaiwanPlus.m3u8
        sudo cat >./TaiwanPlus.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.youtube.com/@TaiwanPlusLive/live)
        EOL
     - name: FTV News
       run: |
        cd TW
        touch ./FTVNews.m3u8
        sudo cat >./FTVNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/@FTV_News/live)
        EOL
     - name: FTV News
       run: |
        cd TW
        touch ./FTVNews.m3u8
        sudo cat >./FTVNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/@FTV_News/live)
        EOL
name: Generate livestreams
on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:
jobs:
  workflow_dispatch:
    runs-on: ubuntu-latest
    steps:
     - name: Install yt-dlp
       run: |
        sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
        sudo chmod a+rx /usr/local/bin/yt-dlp
     - name: RTVE 24h
       run: |
        mkdir "ES"
        cd ES
        touch ./24h.m3u8
        sudo cat >./24h.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/rtvenoticias/live)
        EOL
     - name: 7NN
       run: |
        cd ES
        touch ./7nn.m3u8
        sudo cat >./7nn.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://twitch.tv/7nntv)
        EOL
     - name: Libertad Digital
       run: |
        cd ES
        touch ./libertaddigital.m3u8
        sudo cat >./libertaddigital.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://dai.ly/xnm032)
        EOL
     - name: Dejate de Historias - Madrid
       run: |
        cd ES
        mkdir "Madrid"
        cd Madrid
        touch ./DH.m3u8
        sudo cat >./DH.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/channel/UChMCkc02GVSi89TrvhbRasA/live)
        EOL
     - name: A24
       run: |
        mkdir "AR"
        cd AR
        touch ./A24.m3u8
        sudo cat >./A24.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/A24com/live)
        EOL
     - name: America
       run: |
        cd AR
        touch ./America.m3u8
        sudo cat >./America.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/americaenvivo/live)
        EOL
     - name: TVP Argentina
       run: |
        cd AR
        touch ./TVP.m3u8
        sudo cat >./TVP.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/TVPublicaArgentina/live)
        EOL
     - name: LN+
       run: |
        cd AR
        touch ./LNMas.m3u8
        sudo cat >./LNMas.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/LaNacionMas/live)
        EOL
     - name: C5N
       run: |
        cd AR
        touch ./C5N.m3u8
        sudo cat >./C5N.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/c5n/live)
        EOL
     - name: CNN
       run: |
        mkdir "US"
        cd US
        touch ./CNN.m3u8
        sudo cat >./CNN.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/american/cnn-live.html)
        EOL
     - name: Weather Channel
       run: |
        cd US
        touch ./WeatherChannel.m3u8
        sudo cat >./WeatherChannel.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/featured/weather-channel.html)
        EOL
     - name: FBN
       run: |
        cd US
        touch ./FBN.m3u8
        sudo cat >./FBN.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/business/fox-business-network-fbn.html)
        EOL
     - name: CNBC
       run: |
        cd US
        touch ./CNBC.m3u8
        sudo cat >./CNBC.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/american/cnbc.html)
        EOL
     - name: NTV24
       run: |
        mkdir "JP"
        cd JP
        touch ./NTVNews24.m3u8
        sudo cat >./NTVNews24.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/channel/UCuTAXTexrhetbOe3zgskJBQ/live)
        EOL
     - name: TBS News Dig
       run: |
        cd JP
        touch ./TBSNewsDig.m3u8
        sudo cat >./TBSNewsDig.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/tbsnews/live)
        EOL
     - name: NHK World News
       run: |
        cd JP
        touch ./NHKWorldNews.m3u8
        sudo cat >./NHKWorldNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/NHKWORLDJAPAN/live)
        EOL
     - name: CBC News
       run: |
        mkdir "CA"
        cd CA
        touch ./CBCNews.m3u8
        sudo cat >./CBCNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.livenewsnow.com/canadian-news/cbc-news.html)
        EOL
     - name: Taiwan+
       run: |
        mkdir "TW"
        cd TW
        touch ./TaiwanPlus.m3u8
        sudo cat >./TaiwanPlus.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.youtube.com/@TaiwanPlusLive/live)
        EOL
     - name: FTV News
       run: |
        cd TW
        touch ./FTVNews.m3u8
        sudo cat >./FTVNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/@FTV_News/live)
        EOL
     - name: FTV News
       run: |
        cd TW
        touch ./FTVNews.m3u8
        sudo cat >./FTVNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/@FTV_News/live)
        EOL
     - name: TVBS News
       run: |
        cd TW
        touch ./TVBSNews.m3u8
        sudo cat >./TVBSNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/TVBSNEWS01/live)
        EOL
     - name: TTV News
       run: |
        cd TW
        touch ./TTVNews.m3u8
        sudo cat >./TTVNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://www.youtube.com/@TTV_NEWS/live)
        EOL
     - name: CTS News
       run: |
        cd TW
        touch ./CTSNews.m3u8
        sudo cat >./CTSNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/CtsTw/live)
        EOL
     - name: SET News
       run: |
        cd TW
        touch ./SETNews.m3u8
        sudo cat >./SETNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtu.be/FoBfXvlOR6I)
        EOL
     - name: SET+ News
       run: |
        cd TW
        touch ./SETNewsPlus.m3u8
        sudo cat >./SETNewsPlus.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtu.be/EB4g7wecgTI)
        EOL
     - name: EBC News
       run: |
        cd TW
        touch ./EBCNews.m3u8
        sudo cat >./EBCNews.m3u8 <<EOL
        #EXTM3U
        #EXT-X-VERSION:3
        #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5400000
        $(yt-dlp -g https://youtube.com/newsebc/live)
        EOL
     - name : Upload artifact 
       uses: actions/upload-artifact@master 
       with:
        name: Push pt.1
        path: .
     - name: Push pt.2
       run: |
        git init
        git config --local user.name "actions"
        git config --local user.email "action@github.com" 
        git checkout -b live
        git add .
        git commit -m "Updates lives specified in extractor.yml"
        git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
        git push -f -u origin live
